<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.syteam.mapper.BoardMapper">

	<insert id="boardWrite" parameterType="kr.co.syteam.domain.board.dto.BoardDTO">
		<![CDATA[
			INSERT INTO BOARD_TABLE(CATEGORY_ID, BOARD_NO, BOARD_TITLE, BOARD_CONTENTS, USER_ID, BOARD_WRITE_DATE, BOARD_MODIFY_DATE)
			VALUES (#{category_id}, board_seq.nextval, #{board_title}, #{board_contents}, #{user_id}, sysdate, sysdate)
		]]>
	</insert>
	
	<select id="boardList" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, USER_ID, BOARD_WRITE_DATE, BOARD_MODIFY_DATE, BOARD_HITCOUNT 
			FROM BOARD_TABLE 
			ORDER BY BOARD_NO DESC 
		]]> 
	</select>

	<select id="boardView" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENTS, USER_ID, BOARD_WRITE_DATE, BOARD_HITCOUNT
			FROM BOARD_TABLE
			WHERE BOARD_NO = #{board_no}
		]]>
	</select>
	
	<update id="boardHitCount">
		<![CDATA[
			UPDATE BOARD_TABLE
			SET BOARD_HITCOUNT = BOARD_HITCOUNT + 1
			WHERE BOARD_NO = #{board_no}
		]]>
	</update>
	
	<select id="boardCategoryListView" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENTS, USER_ID, BOARD_WRITE_DATE, BOARD_MODIFY_DATE, BOARD_HITCOUNT, 
 			TO_CHAR(BOARD_WRITE_DATE, 'YYYY') AS BOARD_WRITE_DATE_YYYY, TO_CHAR(BOARD_WRITE_DATE, 'MON') AS BOARD_WRITE_DATE_MON, 
 			TO_CHAR(BOARD_WRITE_DATE, 'DD') AS BOARD_WRITE_DATE_DD, TO_CHAR(BOARD_WRITE_DATE, 'day') AS BOARD_WRITE_DATE_DAY, 
			TO_CHAR(BOARD_WRITE_DATE, 'YYYYMMDD') AS BOARD_WRITE_DATE_YYYYMMDD 
			FROM BOARD_TABLE B, CATEGORY_TABLE C, PROJECT_TABLE P 
			WHERE B.CATEGORY_ID = C.CATEGORY_ID 
			AND C.CATEGORY_ID = #{category_id} 
			AND P.PROJECT_ID = #{project_id} 
			ORDER BY BOARD_NO DESC 
		]]>
	</select>
	
	<delete id = "boardDelete">
		<![CDATA[
			DELETE FROM BOARD_TABLE
			WHERE USER_ID = #{user_id}
			AND BOARD_NO= #{board_no}
		]]>
	</delete>
	
	
</mapper>