<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.syteam.mapper.BoardMapper">

	<insert id="boardWrite" parameterType="kr.co.syteam.domain.board.dto.BoardDTO">
		<![CDATA[
			INSERT INTO BOARD_TABLE(CATEGORY_ID, BOARD_NO, BOARD_TITLE, BOARD_CONTENTS, USER_ID, BOARD_WRITE_DATE, BOARD_MODIFY_DATE)
			VALUES (#{category_id}, board_seq.nextval, #{board_title}, #{board_contents}, #{user_id}, sysdate, sysdate)
		]]>
	</insert>
	
	<select id="boardList" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, USER_ID, BOARD_WRITE_DATE, BOARD_MODIFY_DATE, BOARD_HITCOUNT 
			FROM BOARD_TABLE 
			ORDER BY BOARD_NO DESC 
		]]> 
	</select>

	<select id="boardView" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENTS, USER_ID, BOARD_WRITE_DATE, BOARD_HITCOUNT
			FROM BOARD_TABLE
			WHERE BOARD_NO = #{board_no}
		]]>
	</select>
	
	<update id="boardHitCount">
		<![CDATA[
			UPDATE BOARD_TABLE
			SET BOARD_HITCOUNT = BOARD_HITCOUNT + 1
			WHERE BOARD_NO = #{board_no}
		]]>
	</update>
	
	<select id="boardCategoryList" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT CATEGORY_NAME
			FROM CATEGORY_TABLE C, PROJECT_TABLE P
			WHERE C.PROJECT_ID = P.PROJECT_ID
			AND P.PROJECT_name = #{project_name}
		    ORDER BY P.PROJECT_ID ASC
		]]>
	</select>
	
	<select id="boardCategorySelect" resultType="kr.co.syteam.domain.category.vo.CategoryVO">
		<![CDATA[
			SELECT C.CATEGORY_ID, C.CATEGORY_NAME
			FROM CATEGORY_TABLE C, PROJECT_TABLE P
			WHERE C.PROJECT_ID = P.PROJECT_ID
			AND P.PROJECT_NAME = #{project_name}
			AND C.CATEGORY_NAME = #{category_name}
		]]>
	</select>
	
	<select id="boardCategoryListView" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENTS, USER_ID, BOARD_WRITE_DATE, BOARD_MODIFY_DATE, BOARD_HITCOUNT
			FROM BOARD_TABLE B, CATEGORY_TABLE C, PROJECT_TABLE P
			WHERE B.CATEGORY_ID = C.CATEGORY_ID
			AND C.CATEGORY_NAME = #{category_name}
			AND P.PROJECT_NAME = #{project_name}
			ORDER BY BOARD_NO 
		]]>
	</select>
	
	
</mapper>