<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.syteam.mapper.BoardMapper">

	<insert id="boardWrite" parameterType="kr.co.syteam.domain.board.dto.BoardDTO">
		<![CDATA[
			INSERT INTO BOARD_TABLE(CATEGORY_ID, BOARD_TITLE, BOARD_CONTENTS, USER_ID, BOARD_WRITE_DATE, BOARD_MODIFY_DATE, BOARD_NOTICE)
			VALUES (#{category_id}, #{board_title}, #{board_contents}, #{user_id}, now(), now(), #{board_notice})
		]]>
	</insert>
	
	<select id="boardList" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, USER_ID, BOARD_WRITE_DATE, BOARD_MODIFY_DATE, BOARD_HITCOUNT, BOARD_NOTICE 
			FROM BOARD_TABLE 
			ORDER BY BOARD_NO DESC 
		]]> 
	</select>

	<select id="boardView" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENTS, USER_ID, BOARD_WRITE_DATE, BOARD_HITCOUNT, BOARD_NOTICE
			FROM BOARD_TABLE
			WHERE BOARD_NO = #{board_no}
		]]>
	</select>
	
	<update id="boardHitCount">
		<![CDATA[
			UPDATE BOARD_TABLE
			SET BOARD_HITCOUNT = BOARD_HITCOUNT + 1
			WHERE BOARD_NO = #{board_no}
		]]>
	</update>
	
	<select id="boardCategoryListView" resultType="kr.co.syteam.domain.board.vo.BoardVO">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENTS, USER_ID, BOARD_WRITE_DATE, BOARD_MODIFY_DATE, BOARD_HITCOUNT, BOARD_NOTICE, 
	 			DATE_FORMAT(BOARD_WRITE_DATE, '%Y') AS BOARD_WRITE_DATE_YYYY, DATE_FORMAT(BOARD_WRITE_DATE, '%m') AS BOARD_WRITE_DATE_MON, 
	 			DATE_FORMAT(BOARD_WRITE_DATE, '%d') AS BOARD_WRITE_DATE_DD, 
                CASE DATE_FORMAT(BOARD_WRITE_DATE, '%w')
					WHEN '0' THEN '일요일'
					WHEN '1' THEN '월요일'
					WHEN '2' THEN '화요일'
					WHEN '3' THEN '수요일'
					WHEN '4' THEN '목요일'
					WHEN '5' THEN '금요일'
					WHEN '6' THEN '토요일'
                 END AS BOARD_WRITE_DATE_DAY, 
				DATE_FORMAT(BOARD_WRITE_DATE, '%Y%m%d') AS BOARD_WRITE_DATE_YYYYMMDD,
 				(SELECT COUNT(*) FROM COMMENT_TABLE WHERE BOARD_NO=B.BOARD_NO) AS COMMENT_COUNT 
			FROM BOARD_TABLE B, CATEGORY_TABLE C, PROJECT_TABLE P 
			WHERE B.CATEGORY_ID = C.CATEGORY_ID 
			AND C.CATEGORY_ID = #{category_id} 
			AND P.PROJECT_ID = #{project_id}
			ORDER BY BOARD_NO DESC
		]]>
	</select>
	
	<delete id = "boardDelete">
		<![CDATA[
			DELETE FROM BOARD_TABLE
			WHERE USER_ID = #{user_id}
			AND BOARD_NO= #{board_no}
		]]>
	</delete>
	
	<update id = "boardModify">
		<![CDATA[
			UPDATE BOARD_TABLE 
			SET 
				BOARD_TITLE = #{board_title}, 
				BOARD_CONTENTS = #{board_contents}, 
				BOARD_MODIFY_DATE = NOW(),
				BOARD_NOTICE = #{board_notice}  
				WHERE BOARD_NO = #{board_no}
					AND USER_ID = #{user_id}
		]]>
	</update>
	
	<insert id = "boardCommentWrite">
		<![CDATA[
			INSERT INTO COMMENT_TABLE(BOARD_NO, COMMENT_CONTENTS, USER_ID, USER_NAME, COMMENT_WRITE_DATE)
			VALUES(#{board_no}, #{comment_contents}, #{user_id}, #{user_name}, NOW())
		]]>
	</insert>
	
	<select id="boardCommentList" resultType = "kr.co.syteam.domain.board.vo.BoardCommentVO">
		<![CDATA[
			SELECT BOARD_NO, COMMENT_NO, COMMENT_CONTENTS, C.USER_ID, C.USER_NAME, COMMENT_WRITE_DATE
			FROM COMMENT_TABLE C, USER_TABLE U
			WHERE C.USER_ID = U.USER_ID
			AND BOARD_NO = #{board_no}
			ORDER BY COMMENT_NO
		]]>
	</select>
	
	
</mapper>