<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.syteam.mapper.ChartMapper">

	<select id="selectCategoryName" resultType="kr.co.syteam.domain.chart.vo.ChartVO">
		<![CDATA[
			SELECT C.CATEGORY_NAME, COUNT(T.TODO_COMPLETE) todo_cnt, 
					SUM(T.TODO_COMPLETE) todo_complete_cnt 
			FROM CATEGORY_TABLE C, TODO_LIST_TABLE T 
			WHERE C.CATEGORY_ID=T.CATEGORY_ID AND 
			C.PROJECT_ID = #{project_id} 
			GROUP BY C.CATEGORY_NAME
		]]>	
	</select>
	
	<select id="memberChart" resultType="kr.co.syteam.domain.chart.vo.ChartVO">
		<![CDATA[
			SELECT MEM.MEMBER_NICKNAME AS member_nickname, SUM(TODO.TODO_COMPLETE) AS todo_complete_cnt, COUNT(TODO.TODO_NO) AS todo_cnt 
			FROM TODO_LIST_TABLE TODO, (SELECT TODO_NO, MEMBER_NICKNAME FROM TODO_MEMBER_TABLE) MEM 
			WHERE TODO.TODO_NO = MEM.TODO_NO AND TODO.PROJECT_ID = #{project_id} 
			GROUP BY MEM.MEMBER_NICKNAME
		]]>
	</select>

	

</mapper>