<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.syteam.mapper.ProjectMapper">

	<select id="projectEmptyCheck" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM PROJECT_TABLE P, MEMBER_TABLE M
			WHERE P.PROJECT_ID = M.PROJECT_ID
		    AND M.USER_ID = #{user_id}
		]]>
	</select>
	
	<insert id="projectCreate">
		<![CDATA[
			INSERT INTO PROJECT_TABLE(PROJECT_ID, PROJECT_NAME) 
			VALUES(PROJECT_SEQ.nextval, #{project_name})
		]]>
	</insert>
	
	<select id="projectGetId" resultType="String">
		<![CDATA[
			SELECT PROJECT_ID 
			FROM PROJECT_TABLE 
			WHERE PROJECT_NAME = #{project_name}
		]]>
	</select>
	
	<insert id="projectMemberInsert" >
		<![CDATA[
			INSERT INTO MEMBER_TABLE(PROJECT_ID, MEMBER_NICKNAME, MEMBER_RANK, USER_ID)
			VALUES(#{project_id}, #{member_nickname}, #{member_rank}, #{user_id})
		]]>
	</insert>
	
	<select id="projectList" resultType="kr.co.syteam.domain.project.vo.ProjectVO">
		<![CDATA[
			SELECT DISTINCT P.PROJECT_NAME, P.PROJECT_ID, MEMBER_NICKNAME, MEMBER_RANK, USER_ID 
			FROM PROJECT_TABLE P, MEMBER_TABLE M
			WHERE P.PROJECT_ID = M.PROJECT_ID
		    AND M.USER_ID = #{user_id}
		    ORDER BY P.PROJECT_ID ASC
		]]>
	</select>
	
	<select id="projectSelect" resultType="kr.co.syteam.domain.project.vo.ProjectVO">
		<![CDATA[
			SELECT DISTINCT P.PROJECT_NAME, P.PROJECT_ID, MEMBER_NICKNAME, MEMBER_RANK, USER_ID 
			FROM PROJECT_TABLE P, MEMBER_TABLE M
			WHERE P.PROJECT_ID = M.PROJECT_ID
		    AND P.PROJECT_id = #{project_id}
		    AND USER_ID = #{user_id}
		]]>
	</select>
	
	<insert id="projectCategoryCreate">
		<![CDATA[
			INSERT INTO CATEGORY_TABLE(CATEGORY_ID, CATEGORY_NAME, PROJECT_ID)
			VALUES(CATEGORY_SEQ.NEXTVAL, #{category_name}, #{project_id})
		]]>
	</insert>
	
	<select id="projectCategorySelect" resultType="kr.co.syteam.domain.category.vo.CategoryVO">
		<![CDATA[
			SELECT C.CATEGORY_ID, C.CATEGORY_NAME
			FROM CATEGORY_TABLE C, PROJECT_TABLE P
			WHERE C.PROJECT_ID = P.PROJECT_ID
			AND P.PROJECT_ID = #{project_id}
			AND C.CATEGORY_ID = #{category_id}
		]]>
	</select>
	
	<select id="projectCategoryList" resultType="kr.co.syteam.domain.category.vo.CategoryVO">
		<![CDATA[
			SELECT CATEGORY_ID, CATEGORY_NAME
			FROM CATEGORY_TABLE C, PROJECT_TABLE P
			WHERE C.PROJECT_ID = P.PROJECT_ID
			AND P.PROJECT_ID = #{project_id}
		    ORDER BY P.PROJECT_ID DESC
		]]>
	</select>
	
	<insert id="projectInvite" parameterType="kr.co.syteam.domain.project.dto.ProjectDTO">
		<![CDATA[
			INSERT INTO MEMBER_TABLE(PROJECT_ID, MEMBER_NICKNAME, MEMBER_RANK, USER_ID)
			VALUES(#{project_id}, #{member_nickname}, 'n', #{user_id})
		]]>
	</insert>
	<select id="getUserIdName" resultType="kr.co.syteam.domain.project.vo.ProjectVO">
		<![CDATA[
			SELECT USER_ID, USER_NAME FROM USER_TABLE WHERE USER_ID=#{user_id}
		]]>
	</select>
	<select id="projectMemberList" resultType="kr.co.syteam.domain.project.vo.ProjectVO">
		<![CDATA[
			SELECT MEMBER_NICKNAME FROM MEMBER_TABLE WHERE PROJECT_ID=#{project_id}
		]]>
	</select>
</mapper>