<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.syteam.mapper.TodoMapper">

	<insert id="todoWrite">
		<![CDATA[
			INSERT INTO TODO_LIST_TABLE 
			VALUES (TODO_SEQ.NEXTVAL ,#{category_id}, #{todo_list}, 
			#{todo_start_date}, #{todo_end_date}, #{todo_priority}, #{todo_note}, '0', #{project_id})		
		]]>
	</insert>
	
	<select id="todoSelect" resultType="String">
		<![CDATA[
			SELECT MAX(TODO_NO) 
			FROM TODO_LIST_TABLE 
		]]>
	</select>
  
  	<insert id="todoMemberWrite">
  		<![CDATA[
  			INSERT INTO TODO_MEMBER_TABLE 
			VALUES (#{todo_no}, #{member_nickname})
  		]]>
  	</insert>
  	  	
  	<select id="todoView" resultType="kr.co.syteam.domain.todo.vo.TodoVO">
  		<![CDATA[
  			SELECT TODO_LIST, TO_CHAR(todo_start_date, 'mm/dd/yyyy') TODO_START_DATE, 
  			TO_CHAR(todo_start_date, 'mm/dd/yyyy') TODO_END_DATE, TODO_PRIORITY, TODO_NOTE 
			FROM TODO_LIST_TABLE 
			WHERE TODO_NO=#{todo_no}
  		]]>
  	</select>

	<select id="todoListView" resultType="kr.co.syteam.domain.todo.vo.TodoVO">
		<![CDATA[
			SELECT TODO_NO, TODO_LIST, TODO_PRIORITY, TODO_COMPLETE 
			FROM TODO_LIST_TABLE 
			WHERE CATEGORY_ID = #{category_id} 
			ORDER BY TODO_NO DESC
		]]>	
	</select>
	
	<update id="todoModify" parameterType="kr.co.syteam.domain.todo.dto.TodoDTO">
		<![CDATA[
			UPDATE TODO_LIST_TABLE SET TODO_LIST=#{todo_list}, TODO_START_DATE=#{todo_start_date}, 
			TODO_END_DATE=#{todo_end_date}, TODO_PRIORITY=#{todo_priority}, TODO_NOTE=#{todo_note} WHERE TODO_NO=#{todo_no}
		]]>
	</update>
	<delete id="todoMemberDelete">
		<![CDATA[
			DELETE FROM TODO_MEMBER_TABLE 
			WHERE TODO_NO = #{todo_no}
		]]>
	</delete>
	
	<delete id="todoDelete">
		<![CDATA[
			DELETE FROM TODO_LIST_TABLE
			WHERE TODO_NO=#{todo_no}
		]]>
	</delete>
	
	<select id="todoMemberSelect" resultType="String">
		<![CDATA[
			SELECT MEMBER_NICKNAME FROM TODO_MEMBER_TABLE 
			WHERE TODO_NO = #{todo_no}
		]]>
	</select>
	<select id="categoryMemberSelect" resultType="String">
		<![CDATA[
			SELECT MEMBER_NICKNAME FROM CATEGORY_MEMBER_TABLE  
			WHERE CATEGORY_ID = #{category_id}
		]]>
	</select>
	
	<select id="todoCompleteSelect" resultType="int">
		<![CDATA[
			SELECT TODO_COMPLETE FROM TODO_LIST_TABLE WHERE TODO_NO = #{todo_no}
		]]>
	</select>
	<update id="todoCompleteYes">
		<![CDATA[
			UPDATE TODO_LIST_TABLE SET TODO_COMPLETE='1' WHERE TODO_NO=#{todo_no}
		]]>
	</update>
	<update id="todoCompleteNo">
		<![CDATA[
			UPDATE TODO_LIST_TABLE SET TODO_COMPLETE='0' WHERE TODO_NO=#{todo_no}
		]]>
	</update>

</mapper>