<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.syteam.mapper.TodoMapper">

	<insert id="todoWrite">
		<![CDATA[
			INSERT INTO TODO_LIST_TABLE 
			VALUES (TODO_SEQ.NEXTVAL ,#{category_id}, #{todo_list}, 
			#{todo_start_date}, #{todo_end_date}, #{todo_priority}, #{todo_note}, #{todo_complete})		
		]]>
	</insert>
	
	<select id="todoSelect" resultType="String">
		<![CDATA[
			SELECT MAX(TODO_NO) 
			FROM TODO_LIST_TABLE 
		]]>
	</select>
  
  	<insert id="todoMemberWrite">
  		<![CDATA[
  			INSERT INTO TODO_MEMBER_TABLE 
			VALUES (#{todo_no}, #{member_nickname})
  		]]>
  	</insert>
  	
  	
  	
  	<select id="todoView" resultType="kr.co.syteam.domain.todo.vo.TodoVO">
  		<![CDATA[
  			SELECT M.TODO_NO, L.CATEGORY_ID, L.TODO_LIST, L.TODO_START_DATE, 
  				L.TODO_END_DATE, L.TODO_PRIORITY, L.TODO_NOTE, L.TODO_COMPLETE, M.MEMBER_NICKNAME 
			FROM TODO_LIST_TABLE L, TODO_MEMBER_TABLE M 
			WHERE L.TODO_NO = M.TODO_NO AND 
			M.TODO_NO = #{todo_no}
  		]]>
  	</select>

	<select id="todoListView" resultType="kr.co.syteam.domain.todo.vo.TodoVO">
		<![CDATA[
			SELECT TODO_NO, TODO_LIST, TODO_PRIORITY, TODO_COMPLETE 
			FROM TODO_LIST_TABLE 
			WHERE CATEGORY_ID = #{category_id} 
			ORDER BY TODO_NO DESC
		]]>
	
	</select>
	
	<update id="todoCompleteYes">
		<![CDATA[
			UPDATE TODO_LIST_TABLE SET TODO_COMPLETE='1' WHERE TODO_NO=#{todo_no}
		]]>
	</update>
	<update id="todoCompleteNo">
		<![CDATA[
			UPDATE TODO_LIST_TABLE SET TODO_COMPLETE='0' WHERE TODO_NO=#{todo_no}
		]]>
	</update>

</mapper>