<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.syteam.mapper.UserMapper">
  <insert id="userJoin">
  	<![CDATA[
		INSERT INTO USER_TABLE(USER_ID, USER_PW, USER_NAME, USER_PHONE, USER_JOINDATE)
		VALUES(#{user_id}, #{user_pw}, #{user_name}, #{user_phone}, SYSDATE)
  	]]>
  </insert>
  
<!--   <select id="userLogin"> -->
  <select id="userLogin" parameterType="kr.co.syteam.domain.user.dto.UserDTO" resultType="kr.co.syteam.domain.user.vo.LoginVO">
 	<![CDATA[
  		SELECT USER_ID, USER_NAME, SYSDATE AS logindate 
 		FROM USER_TABLE 
		WHERE USER_ID = #{user_id} AND USER_PW = #{user_pw}
 	]]>
  </select>

  <delete id="userDelete">
  	<![CDATA[
 			DELETE FROM USER_TABLE
 			WHERE USER_ID = #{user_id}
 	]]>
  </delete>
  
  <select id="userIdCheck" resultType="String">
  	<![CDATA[
 			SELECT USER_ID 
			FROM USER_TABLE 
			WHERE USER_ID = #{user_id}
 	]]>
  </select>


</mapper>