<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.syteam.mapper.TodoMapper">

	<insert id="todoWrite">
		<![CDATA[
			INSERT INTO TODO_LIST_TABLE 
			VALUES (TODO_SEQ.NEXTVAL ,#{category_id}, #{todo_list}, 
			#{todo_start_date}, #{todo_end_date}, #{todo_priority}, #{todo_note}, #{todo_complete})		
		]]>
	</insert>
  
  	<insert id="todoMemberWrite">
  		<![CDATA[
  			
  		]]>
  	</insert>

</mapper>